* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 80%;
    height: 500px;
    border: 1px solid #333;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}
.magic {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: magic-animation 2s infinite linear;
}
.pen {
    width: 100px;
    position: absolute;
    bottom: 0;
}
.jump {
    animation: jump 600ms ease-out;
}

@keyframes magic-animation {
    from {
        right: -77px;
    }
    to {
        right: 100%;
    }
}
@keyframes jump {
    0% {
        bottom: 0;
    }
    40% {
        bottom: 120px;
    }
    60% {
        bottom: 120px;
    }

    100% {
        bottom: 0;
    }
}
